<nav class="blue darken-2">
  <div class="nav-wrapper">
    <a class="brand-logo"  href="#">DEMO APP</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a href="#">
          <i class="material-icons">search</i>
        </a>
      </li>
    </ul>
  </div>
</nav>

<article>
<div class="row">
  <div class="col s12 m4">
    <div class="card blue darken-1 medium">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="https://download.unsplash.com/photo-1433785567155-bf5530cab72c" alt="card demo">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">
          SgPostcode Demo App
          <i class="material-icons right">more_vert</i>
        </span>
      </div>

      <div class="card-reveal">
        <span class="grey-text card-title">
          Introduce
          <i class="material-icons right">close</i>
        </span>
        <p>
          This is a simple demo for sg_postcode gem.
          For more information, please check the repository
        </p>
      </div>
    </div>
  </div>
</div

</article>
